@import "tailwindcss";

@theme {
  --animate-fade-in: fadeIn 0.3s ease-out;


  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-4px); }
    to { opacity: 1; transform: translateY(0); }
  }
}

button {
    cursor: pointer;
}

button:hover{
  transform: scale(1.05);
}